.recipe__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .recipe__comment {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    #comment__delete-btn {
    }
  }
}
.photos {
  width: 100%;
  padding: 20px;
}
